* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #ffe9fc;
  color: #333;
  padding: 20px;
}

header {
  background-color: #fc1ac7;
  color: white;
  text-align: center;
  padding: 40px 20px;
  border-radius: 8px;
}

section {
  margin: 30px 0;
  background-color: #fff;
  padding: 20px;
  border-left: 5px solid #fc1ac7;
  border-radius: 4px;
}

h2 {
  margin-bottom: 10px;
  color: #fc1ac7;
}

ul {
  list-style: none;
}

li {
  padding: 5px 0;
}

footer {
  text-align: center;
  color: #777;
  margin-top: 40px;
}

img{
    width: 50%;
    height: auto;
}

.imagem-container {
  text-align: center;
}

.logo {
  width: 70px;
  height: auto;
  margin-right: 40px;
}